header nav {
  width: 87.5%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 0.8rem;
  padding: 2rem 0 0 0;
}

header nav div {
  display: flex;
  flex-wrap: wrap;
  gap: 0.8rem;
}

header nav a {
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration-line: none;
}

header nav a:hover {
  text-decoration-line: underline;
}

blockquote {
  border-left: 2px solid #808080;
  padding-left: 1rem;
}

/* .sourceCode { */
/*     display:block; */
/*     padding-left: 1rem; */
/*     margin-top: 1rem; */
/*     margin-bottom: 1rem; */
/*     background: #eee; */
/* } */

.definition,
.proposition,
.theorem {
  width: 55%;
  display: block;
  border-left: 2px solid #808080;
  padding-left: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.proposition,
.theorem {
  font-style: italic;
}

.definition p:first-child,
.proposition p:first-child,
.theorem p:first-child,
.proof p:first-child {
  display: inline;
}

.definition p,
.proposition p,
.theorem p,
.proof p {
  margin-top: 0.4rem;
  margin-bottom: 0.4rem;
  padding-left: 1rem;
}

.theorem:before {
  content: "Theorem.";
  font-weight: bold;
  font-style: normal;
}

.proposition:before {
  content: "Proposition.";
  font-weight: bold;
  font-style: normal;
}

.definition:before {
  content: "Definition.";
  font-weight: bold;
  font-style: normal;
}

.proof {
  width: 55%;
}

.proof:before {
  content: "Proof.";
  font-style: italic;
}

.proof:after {
  content: "\220E";
  float: right;
}
