body {
    font-family: Helvetica, Arial, sans-serif;
    line-height: 1.5;
    color: #111;
    max-width: 50rem;
    padding: 2rem;
    margin: auto;
    background: #fafafa;
    counter-reset: theorem;
    counter-reset: definition;
}

img {
    max-width: 100%;
}

a {
    color: #0B0080;
}

h1 {
    font-size: 1.6rem;
}

h2 {
    font-size: 1.2rem;
}

header {
    border-bottom: 0.15rem solid #000;
    margin-bottom: 2rem;
}

nav {
    text-align: right;
}

nav a {
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
    padding: .5rem;
}

.logo a {
    float: left;
    font-size: 1.2rem;
    font-weight: bold;
    color: #000;
    text-decoration: none;
}

footer {
    margin-top: 3rem;
    padding: .5rem 0;
    border-top: 0.1rem solid #000;
    color: #555;
}

article .header {
    font-style: italic;
    color: #555;
}

.sourceCode {
    display:block;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
    background: #eee;
}

.definition, .proposition, .theorem {
    display: block;
    border-left: 2px solid #808080;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.proposition, .theorem {
    counter-increment: theorem;
    font-style: italic;
}

.definition p:first-child, .proposition p:first-child, .theorem p:first-child, .proof p:first-child {
    display: inline;
}

.definition p, .proposition p, .theorem p, .proof p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1rem;
}

.theorem:before {
    content: "Theorem " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
}

.proposition:before {
    content: "Proposition " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
}

.definition:before {
    counter-increment: definition;
    content: "Definition " counter(definition) ".";
    font-weight: bold;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
}

.proof:after {
    content: "\220E";
    float: right;
}
