body {
    background: #fafafa;
    counter-reset: theorem;
    counter-reset: definition;
    counter-reset: sidenote-counter; /* Hack, otherwise we break Tufte CSS */
}

header {
    margin: 1em 0 2em 0;
}
header nav {
    width: 87.5%;
}
header nav a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    text-decoration: none !important;
    margin: 0 0.5rem;
    padding: 0 0;
}
header nav a:first-child { margin-left: 0; }
header nav a:last-child { margin-right: 0; }

footer {
    margin-top: 3rem;
    padding: .5rem 0;
    border-top: 0.1rem solid #000;
    color: #555;
}

article .header {
    font-style: italic;
    color: #555;
}

/* .sourceCode { */
/*     display:block; */
/*     padding-left: 1rem; */
/*     margin-top: 1rem; */
/*     margin-bottom: 1rem; */
/*     background: #eee; */
/* } */

blockquote {
    display: block;
    border-left: 2px solid #808080;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.definition, .proposition, .theorem {
    display: block;
    border-left: 2px solid #808080;
    padding-left: 1rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.proposition, .theorem {
    counter-increment: theorem;
    font-style: italic;
}

.definition p:first-child, .proposition p:first-child, .theorem p:first-child, .proof p:first-child {
    display: inline;
}

.definition p, .proposition p, .theorem p, .proof p {
    margin-top: 0.4rem;
    margin-bottom: 0.4rem;
    padding-left: 1rem;
}

.theorem:before {
    content: "Theorem " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
}

.proposition:before {
    content: "Proposition " counter(theorem) ".";
    font-weight: bold;
    font-style: normal;
}

.definition:before {
    counter-increment: definition;
    content: "Definition " counter(definition) ".";
    font-weight: bold;
    font-style: normal;
}

.proof:before {
    content: "Proof.";
    font-style: italic;
}

.proof:after {
    content: "\220E";
    float: right;
}
